# Aliens!

## Purpose
State the purpose of the notebook.

## Methodology
Quickly describe assumptions and processing steps.

## Results
Describe and comment the most important results.

## Suggested next steps
State suggested next steps, based on results obtained in this notebook.

# Setup

## Installations needed

In [47]:
#!pip install splinter
#!pip install citipy
#!pip install descartes

# Had to do a conda install geopandas in Anaconda as admin
#!pip install geopandas

Collecting descartes
  Downloading descartes-1.1.0-py3-none-any.whl (5.8 kB)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from descartes) (3.1.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->descartes) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->descartes) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->descartes) (2.8.0)
Requirement already satisfied: numpy>=1.11 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->descartes) (1.16.5)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->descartes) (1.12.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->descartes) (45.1.0)
Installing collected packages: descartes
Successfully installed descartes-1.1.0

## Library import
We import all the required Python libraries

In [4]:
import os
import pandas as pd
import numpy as np
import requests
import json
import time
import pandas as pd
import re
import matplotlib.pyplot as plt
import plotly.graph_objects as go

from bs4 import BeautifulSoup as bs
from splinter import Browser
from sqlalchemy import create_engine
from citipy import citipy
from matplotlib import pyplot

# Google API Key
#from config import gkey

## Local library import
We import all the required local libraries libraries

# Data processing

## Set up Chromedriver path

In [2]:
# set executable path and initialize Chrome Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## Begin scrape code

In [3]:
# visit 
ufo_url = 'http://www.nuforc.org/webreports/ndxevent.html'
browser.visit(ufo_url)

# add in a pause to allow site to fully load before creating html object
time.sleep(3)

# create html object
html = browser.html

# create a beautiful soup object
soup = bs(html, 'html.parser')

# create list to house the table urls
table_urls = []
base_url = 'http://www.nuforc.org/webreports/'
    
# retrieve all urls
links = soup.find_all('a')[1:13]

# for loop to loop through items and append to list
for link in links:
     part_url = link['href']
     full_url = base_url + part_url   
     table_urls.append(full_url)
        

print(table_urls)

['http://www.nuforc.org/webreports/ndxe202002.html', 'http://www.nuforc.org/webreports/ndxe202001.html', 'http://www.nuforc.org/webreports/ndxe201912.html', 'http://www.nuforc.org/webreports/ndxe201911.html', 'http://www.nuforc.org/webreports/ndxe201910.html', 'http://www.nuforc.org/webreports/ndxe201909.html', 'http://www.nuforc.org/webreports/ndxe201908.html', 'http://www.nuforc.org/webreports/ndxe201907.html', 'http://www.nuforc.org/webreports/ndxe201906.html', 'http://www.nuforc.org/webreports/ndxe201905.html', 'http://www.nuforc.org/webreports/ndxe201904.html', 'http://www.nuforc.org/webreports/ndxe201903.html']

In [4]:
# create empty list
table_list = []

# loop through list to scrape table data and extend, rather than append to empty list
for table in table_urls:
    urls = pd.read_html(table)
    table_list.extend(urls)
    

print(table_list)

[       Date / Time                          City State      Shape  \
0    2/24/20 12:45                       Chester    NH       Disk
1    2/24/20 06:00                       Medford    OR  Formation
2    2/24/20 05:45                       Medford    OR      Other
3    2/24/20 05:30                   Charlestown    RI      Light
4    2/24/20 05:21                        Edison    NJ      Light
..             ...                           ...   ...        ...
391   2/1/20 11:45                   Santa Paula    CA      Other
392   2/1/20 07:00                     Southside    AL      Light
393   2/1/20 06:38                      Woodbine    GA        NaN
394   2/1/20 01:34                         Aledo    TX   Triangle
395   2/1/20 00:30  Progrresso (Yucatan)(Mexico)   NaN      Light

        Duration                                            Summary   Posted
0      ~1 minute  12:45 PM-shiny, disk/saucer shape seen in dayl...  2/25/20
1      5 minutes  20 lights in formation across sky. (("Starlink...  2/25/20
2     10 minutes  AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...  2/25/20
3    2-3 minutes               light moving at a high rate of speed  2/25/20
4     25 seconds  DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...  2/25/20
..           ...                                                ...      ...
391    3 minutes  I was driving on Telegraph Rd. in the city of ...   2/7/20
392   25 minutes  Distant unmoving bright light in sky west of o...   2/7/20
393          NaN                                     MADAR Node 154  2/25/20
394      2 hours  Triangle and orb type craft over Ftworth/parke...   2/7/20
395   30 minutes  Moving lights over Progresso, Yucatan Mexico. ...   2/7/20

[396 rows x 7 columns],        Date / Time              City State     Shape     Duration  \
0    1/31/20 21:30          Prospect    OR     Light    30 minute
1    1/31/20 19:56      Arizona City    AZ   Unknown            2
2    1/31/20 19:30       Sevierville    TN      Oval  3-5 minutes
3    1/31/20 11:40  Royal Palm Beach    FL       NaN          NaN
4    1/31/20 09:11              York    PA     Other    2 minutes
..             ...               ...   ...       ...          ...
578   1/1/20 00:00             Lacey    WA   Chevron          NaN
579   1/1/20 00:00         El Centro    CA    Circle    3 minutes
580         1/1/20       San Antonio    TX      Oval    5 minutes
581         1/1/20    St. Petersburg    FL  Triangle         3:00
582         1/1/20    St. Petersburg    FL  Triangle         3:00

                                               Summary   Posted
0    1.31.2020 Approximately 9:30-10 While driving ...   2/7/20
1      Blinking unexplained lights that tilt and move.  2/25/20
2    This is twice in one week I've seen this. Roun...   2/7/20
3                                        MADAR Node 76  2/13/20
4    As I was walking home from work i look up in t...   2/7/20
..                                                 ...      ...
578  Blue light coming from craft, shot through the...  1/31/20
579  Red orb floats slowly changing direction then ...  1/31/20
580  looking at fireworks at midnight we observed 1...   2/7/20
581  It's too bad I can't tell the full story on he...   2/7/20
582  It's too bad I can't tell the full story on he...   2/7/20

[583 rows x 7 columns],         Date / Time             City State     Shape     Duration  \
0    12/31/19 23:55    Wesley Chapel    FL     Light   30 minutes
1    12/31/19 23:23          Sanford    FL    Circle    5 minutes
2    12/31/19 23:00  Fort Lauderdale    FL  Fireball          :30
3    12/31/19 22:45         Lakeland    FL      Oval    3 minutes
4    12/31/19 22:30        Lake City    FL    Circle    2 minutes
..              ...              ...   ...       ...          ...
748   12/1/19 06:00     Mcleansville    NC      Disk    3 minutes
749   12/1/19 04:48         Newburgh    IN       NaN          NaN
750   12/1/19 01:25       Alexandria    VA       NaN          NaN
751   12/1/19 00:30         Woolwich    ME     Other   20 minutes
752   12/1/19 00:06          Phoenix    AZ  Changing  1.5 minutes

                                               Summary    Posted
0    8-9 Disc shaped lights moving south about 1000...    2/7/20
1    3 unidentified bright orange objects travellin...    2/7/20
2    I was in Fort Lauderdale, FL looking toward th...    2/7/20
3    Two VERY bright glowing objects moving from no...    2/7/20
4    One orange circular object traveling NW to SE,...   1/31/20
..                                                 ...       ...
748  I was walking with my son to check my mail wit...  12/19/19
749                                     MADAR Node 142  12/19/19
750                                     MADAR Node 141  12/19/19
751  I saw what looked like a person standing by a ...   12/1/19
752   3 objects change direction color speed and shape   1/31/20

[753 rows x 7 columns],         Date / Time                      City State     Shape     Duration  \
0    11/30/19 21:35             Overland Park    KS     Light  3 to 4 mins
1    11/30/19 20:29         Mountlake Terrace    WA       NaN          NaN
2    11/30/19 20:00                   Hornell    NY     Cigar  3-5 minutes
3    11/30/19 19:00                  Columbia    PA  Fireball    2 minutes
4    11/30/19 18:45                      Cary    NC   Chevron   10 seconds
..              ...                       ...   ...       ...          ...
691   11/1/19 04:00  Cape Town (South Africa)   NaN     Light   30 minutes
692   11/1/19 01:30                   Astoria    OR  Triangle   15 minutes
693   11/1/19 01:06            Mohali (India)   NaN     Other  3-4 seconds
694   11/1/19 00:50                  Alhambra    CA     Flash           .2
695   11/1/19 00:30               Fort Gibson    OK    Sphere   20 minutes

                                               Summary    Posted
0     Bright lights merge into V formation and vanish.  12/19/19
1                                       MADAR Node 100  12/19/19
2    Very irratic in sky I thought it was a aircraf...    2/7/20
3    I have 4 different videos of the event. Total,...  12/19/19
4    Chevron shaped object suspended over trees in ...  12/19/19
..                                                 ...       ...
691  I was looking up at the sky because I have ins...   12/1/19
692                   Multiple Blinking Colored Lights   12/1/19
693          Bright circular shaped with flashing tail   12/1/19
694  I was traveling Eastbound on I-10 in through t...   12/1/19
695  I have seen this shpere shaped craft 3 non con...   12/1/19

[696 rows x 7 columns],         Date / Time          City State     Shape     Duration  \
0    10/31/19 23:30    Fort Worth    TX     Light   10 seconds
1    10/31/19 23:17       Wichita    KS       NaN          NaN
2    10/31/19 21:36      Carlsbad    CA  Triangle   10 seconds
3    10/31/19 20:32      Florence    SC     Light    3 minutes
4    10/31/19 20:30    Post Falls    ID   Unknown  3-5 minutes
..              ...           ...   ...       ...          ...
714   10/1/19 00:00     St. Louis    MO   Unknown   10 minutes
715   10/1/19 00:00  Little Falls    MN     Light   10 minutes
716         10/1/19   Bakersfield    CA     Other          NaN
717         10/1/19      Newburgh    IN   Diamond          NaN
718         10/1/19        Eureka    CA  Triangle   10 seconds

                                               Summary   Posted
0    3 lights in a v formation flying and disssapea...  12/1/19
1                                       MADAR Node 123  12/1/19
2    Un-lit, fast moving, low altitude triangular c...  12/1/19
3        Florence SC - (3) lights in the Southwest sky  12/1/19
4    Orange ball of light flying near cell tower in...  12/1/19
..                                                 ...      ...
714  I spotted a circular object in the sky far awa...  10/4/19
715  Fast darting orange ball that disappeared with...  12/1/19
716  My mother and I have witnessed an M-shaped bli...  10/4/19
717  ((NUFORC Note: Witness does not include any de...  10/4/19
718  Was outside heard jet engines overhead sound a...  10/4/19

[719 rows x 7 columns],        Date / Time              City State     Shape    Duration  \
0    9/30/19 23:45           Dunedin    FL  Triangle  15 seconds
1    9/30/19 23:00      Fayetteville    AR     Light   2 seconds
2    9/30/19 22:00           Paducah    KY  Changing    1 minute
3    9/30/19 21:14          Hartford    CT  Fireball   5 minutes
4    9/30/19 20:57           Altoona    IA  Fireball   2 minutes
..             ...               ...   ...       ...         ...
644   9/1/19 03:45            Naples    FL     Other   5 seconds
645   9/1/19 02:00  North Providence    RI    Circle    1 minute
646   9/1/19 02:00      Port Orchard    WA      Disk  25 seconds
647   9/1/19 01:10       Hattiesburg    MS  Triangle   >1 minute
648   9/1/19 01:07       Clarksville    TN       NaN         NaN

                                               Summary   Posted
0    Black triangle, no sound, no lights, flew from...  10/4/19
1    White light craft seen for a couple seconds fl...  10/4/19
2    12 lights in the NE about moving in formation....  10/4/19
3                   Several orange objects seen in sky  10/4/19
4                         Bright orange ball over Iowa  10/4/19
..                                                 ...      ...
644  Illuminated white cigar shaped center with 1 r...  10/4/19
645  On Sunday 9/1/19 approximately 2:00am, I was d...   9/6/19
646  Driving home, saw 3 aircraft, 3 lights in a tr...  9/19/19
647  Low flying triangle craft with triple lights a...   9/6/19
648                                     MADAR Node 138   9/6/19

[649 rows x 7 columns],        Date / Time              City State     Shape  \
0    8/31/19 23:45         Biddeford    ME   Unknown
1    8/31/19 23:11            Vernal    UT    Circle
2    8/31/19 23:00           Crivitz    WI     Light
3    8/31/19 22:45           Bumpass   NaN  Fireball
4    8/31/19 22:44        Minnetonka    MN      Oval
..             ...               ...   ...       ...
465   8/1/19 11:30         St. Peter    MN    Sphere
466   8/1/19 04:45  New Johnsonville    TN  Fireball
467   8/1/19 02:10         Roseville    MN     Light
468   8/1/19 01:25       Clarksville    TN       NaN
469   8/1/19 00:03       Los Angeles    CA   Diamond

                     Duration  \
0                  15 minutes
1                  30 minutes
2                  20 minutes
3                   3 minutes
4                 ~30 minutes
..                        ...
465                15 minutes
466                15 seconds
467                 8 seconds
468                       NaN
469  Sheriff station on imper

                                               Summary   Posted
0    Fishing on Ferry Beach in Saco. Looked south d...   9/6/19
1    Bright object observed over Dry Fork Canyon, U...   9/6/19
2    Hovering/slow moving, color-changing bright li...   9/6/19
3    Bright orange fireball hovering about 100-200 ...   9/6/19
4    Saw an oval of lights in the clouds at night w...   9/6/19
..                                                 ...      ...
465        White spheres orbiting above St. Peter, MN.  8/23/19
466  Heard the strangest noise outside of home. Sou...  8/23/19
467            Many Sightings I Have Witnessed In 2019  9/19/19
468                                     MADAR Node 138  8/23/19
469  Me and mother in law were sitting in front of ...  8/23/19

[470 rows x 7 columns],        Date / Time             City State     Shape       Duration  \
0    7/31/19 22:40        Lakeville    MN   Unknown      2 minutes
1    7/31/19 22:25          Oologah    OK     Other      7 minutes
2    7/31/19 22:15         Portland    IN     Light     40 seconds
3    7/31/19 22:00  Kendal (Canada)    ON     Light      3 minutes
4    7/31/19 21:52           Manson    WA     Light   5-10 seconds
..             ...              ...   ...       ...            ...
592   7/1/19 11:20         Lakewood    CO    Circle  30-45 seconds
593   7/1/19 09:50     Derby (near)    VT  Fireball     10 minutes
594   7/1/19 03:57            Boise    ID       NaN            NaN
595   7/1/19 01:38     Indianapolis    IN     Light    ~30 minutes
596   7/1/19 01:30           Warren    MI     Light     10 minutes

                                               Summary   Posted
0    While sitting outside with my boyfriend I have...  8/23/19
1    Diamond shape with swinging projection underne...  8/23/19
2    4th time seeing this same object witnessed thi...  8/23/19
3                                        Bright light.  8/23/19
4    Pair of lights appears one over the other sout...  8/23/19
..                                                 ...      ...
592  White object moving erratically in the daytime...   7/5/19
593  An orange ball followed me in a rural area of ...  8/23/19
594                                     MADAR Node 116   7/5/19
595  Small light moving erratically over shopping p...   7/5/19
596  I have notice a light traveling south to north...   7/5/19

[597 rows x 7 columns],        Date / Time               City State      Shape     Duration  \
0    6/30/19 23:19         Oro Valley    AZ       Disk   30 seconds
1    6/30/19 23:00         Middleboro    MA       Oval   20 minutes
2    6/30/19 22:23              Kanab    UT   Triangle    6 minutes
3    6/30/19 22:20         Pine Grove    FL      Light    3 minutes
4    6/30/19 22:00              Noble    OK      Other   20 seconds
..             ...                ...   ...        ...          ...
469   6/1/19 07:25  Mountlake Terrace    WA        NaN          NaN
470   6/1/19 03:36          Las Vegas    NV  Formation  2-4 minutes
471   6/1/19 03:00           Peshtigo    WI     Circle         Hour
472   6/1/19 01:19          Henderson    NV      Flash   15 minutes
473   6/1/19 01:08          Boonville    IN      Light   20 minutes

                                               Summary   Posted
0    Disk shaped UFO with center lights hovers over...   7/5/19
1    3 cirle orbes seen going south east and north ...   7/5/19
2                                Triangle white object   7/5/19
3    I was in my car smoking. I saw a red light out...   7/5/19
4               Saw stingray shaped object in the sky.   7/5/19
..                                                 ...      ...
469                                     MADAR Node 100  6/20/19
470  Upon driving down Oakley three siold block obj...   6/7/19
471  ((NUFORC Note: Anonymous source elects to prov...   6/7/19
472  Pure white flashes as if it was pure energy fl...   6/7/19
473  Silent bright orange light in sky drifting, ju...   6/7/19

[474 rows x 7 columns],        Date / Time         City State     Shape             Duration  \
0    5/31/19 21:45       Milton    FL  Triangle           15 seconds
1    5/31/19 21:40   Pittsburgh    PA      Oval        10-12 minutes
2    5/31/19 20:35         Mesa    AZ    Circle                    2
3    5/31/19 20:00       Kailua    HI  Triangle            5 seconds
4    5/31/19 19:00       Kenner    LA  Triangle           20 seconds
..             ...          ...   ...       ...                  ...
535   5/1/19 13:02     Pittston    PA  Cylinder           20 seconds
536   5/1/19 11:00       Tucson    AZ   Unknown            5 minutes
537   5/1/19 03:15       Newman    CA   Unknown        15-20 seconds
538   5/1/19 03:00  Los Angeles    CA    Circle           30 seconds
539   5/1/19 01:10      Vallejo    CA     Light  1 minute 33 seconds

                                               Summary   Posted
0    Triangular craft, maybe three in formation, fl...   6/7/19
1    Was on my back patio enjoying the evening when...   6/7/19
2    I saw a bright light in the southern sky. I gr...   6/7/19
3    Light white Triangle zigzagging 3 times ,in a ...   6/7/19
4    A triangle object with 2 white lights close to...   6/7/19
..                                                 ...      ...
535              Dark grey cylinder moving SW to East.   5/9/19
536  Description is the same as Washington DC event...   5/9/19
537  So ufo moving in sky high rate of speed Silent...   5/9/19
538          I saw a UFO hover over South Los Angeles.  7/12/19
539  Two bright dots of light. Erratic flight path....   5/9/19

[540 rows x 7 columns],        Date / Time               City State     Shape     Duration  \
0    4/30/19 22:00                Ajo    AZ     Light   30 minutes
1    4/30/19 21:00        Port Neches    TX     Light           45
2    4/30/19 21:00            Ephrata    WA   Unknown   25 minutes
3    4/30/19 18:00            Norwalk    CT       NaN          NaN
4    4/30/19 14:00  Panama City Beach    FL     Other      3 hours
..             ...                ...   ...       ...          ...
380   4/1/19 09:04            Norwood    NJ       NaN          NaN
381   4/1/19 07:00          St. Louis    MO     Light  3-5 seconds
382   4/1/19 03:30             Uvalda    GA  Fireball    5 seconds
383   4/1/19 01:55          Fairfield    CA   Unknown   20 minutes
384   4/1/19 01:30          Beachwood    NJ    Sphere  2.5 minutes

                                               Summary   Posted
0    Rolling thunder-like sounds and 2 floating whi...   5/9/19
1    The first beam of light I saw in Port Neches, ...   5/9/19
2    4 bright whitish yellow lights completely sile...   5/9/19
3                                       MADAR Node 103   5/9/19
4    TR-3B anti-gravity spacecraft or UFO Panama Ci...  8/23/19
..                                                 ...      ...
380                                    MADAR Node 145.   4/8/19
381  On our way to the hockey game about 7pm as we ...   4/8/19
382  I was on the porch smoking when I happened to ...  10/4/19
383  There was a pulsing and rotating low noise com...   4/8/19
384  Large orb witnessed floating in the night sky,...   4/8/19

[385 rows x 7 columns],        Date / Time                      City State     Shape  \
0    3/31/19 23:00                 Charlotte    NC   Unknown
1    3/31/19 21:45  Glastonbury (UK/England)   NaN     Light
2    3/31/19 20:00                    Gilroy    CA    Sphere
3    3/31/19 17:50                   Seattle    WA     Light
4    3/31/19 05:33                  Lawndale    NC      Disk
..             ...                       ...   ...       ...
320   3/1/19 19:12            East Wenatchee    WA     Light
321   3/1/19 18:07                    Mebane    NC  Changing
322   3/1/19 13:28               Eagle River    AK  Cylinder
323   3/1/19 13:00                Greenville    SC       NaN
324   3/1/19 03:00                  Red Wing    MN  Triangle

                      Duration  \
0                    5 minutes
1                            4
2                  1-2 minutes
3                   10 minutes
4                    2 minutes
..                         ...
320                 10 seconds
321  Months (since December) l
322                          5
323                 10 minutes
324                  2 minutes

                                               Summary   Posted
0                                  Dark object in sky.   4/8/19
1    Bright light it was NOT a aircraft and not sound.   4/8/19
2    Red Orb flying south at a slow rate, Red Light...   4/8/19
3    Three high flying, slow moving objects holding...   4/8/19
4    I saw 3 blue lights close together hovering ov...  8/23/19
..                                                 ...      ...
320                              Orange pulsing light.  3/14/19
321  Interdimensional Beings Caught using thermal v...  3/14/19
322  Driving down eagle river road looked into sky ...  3/14/19
323                   Reptilian or Grey alien contact.  8/23/19
324  about 3 a.m. I observed a bright triangular-sh...  3/14/19

[325 rows x 7 columns]]

In [5]:
# concatenate all table data into one dataframe
pd.concat(table_list)

,Date / Time,City,State,Shape,Duration,Summary,Posted
0,2/24/20 12:45,Chester,NH,Disk,~1 minute,"12:45 PM-shiny, disk/saucer shape seen in dayl...",2/25/20
1,2/24/20 06:00,Medford,OR,Formation,5 minutes,"20 lights in formation across sky. ((""Starlink...",2/25/20
2,2/24/20 05:45,Medford,OR,Other,10 minutes,AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...,2/25/20
3,2/24/20 05:30,Charlestown,RI,Light,2-3 minutes,light moving at a high rate of speed,2/25/20
4,2/24/20 05:21,Edison,NJ,Light,25 seconds,DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...,2/25/20
...,...,...,...,...,...,...,...
320,3/1/19 19:12,East Wenatchee,WA,Light,10 seconds,Orange pulsing light.,3/14/19
321,3/1/19 18:07,Mebane,NC,Changing,Months (since December) l,Interdimensional Beings Caught using thermal v...,3/14/19
322,3/1/19 13:28,Eagle River,AK,Cylinder,5,Driving down eagle river road looked into sky ...,3/14/19
323,3/1/19 13:00,Greenville,SC,NaN,10 minutes,Reptilian or Grey alien contact.,8/23/19
324,3/1/19 03:00,Red Wing,MN,Triangle,2 minutes,about 3 a.m. I observed a bright triangular-sh...,3/14/19

In [6]:
pd.concat(table_list).to_csv("Resources/nuforc_reports.csv", index = False)

## Begin cleaning

In [37]:
csv_file = "Resources/nuforc_reports.csv"
df = pd.read_csv(csv_file)
df.head()

,Date / Time,City,State,Shape,Duration,Summary,Posted
0,2/24/20 12:45,Chester,NH,Disk,~1 minute,"12:45 PM-shiny, disk/saucer shape seen in dayl...",2/25/20
1,2/24/20 06:00,Medford,OR,Formation,5 minutes,"20 lights in formation across sky. ((""Starlink...",2/25/20
2,2/24/20 05:45,Medford,OR,Other,10 minutes,AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...,2/25/20
3,2/24/20 05:30,Charlestown,RI,Light,2-3 minutes,light moving at a high rate of speed,2/25/20
4,2/24/20 05:21,Edison,NJ,Light,25 seconds,DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...,2/25/20

In [38]:
# Lets take a look at what we are starting with
for col in df.columns: 
    print(col)

Date / Time
City
State
Shape
Duration
Summary
Posted

In [39]:
df2 = df.loc[:, ~df.columns.str.contains('^Unnamed')]
print(df2.count())
df2.head()

Date / Time    6587
City           6557
State          6366
Shape          5835
Duration       5804
Summary        6570
Posted         6587
dtype: int64

,Date / Time,City,State,Shape,Duration,Summary,Posted
0,2/24/20 12:45,Chester,NH,Disk,~1 minute,"12:45 PM-shiny, disk/saucer shape seen in dayl...",2/25/20
1,2/24/20 06:00,Medford,OR,Formation,5 minutes,"20 lights in formation across sky. ((""Starlink...",2/25/20
2,2/24/20 05:45,Medford,OR,Other,10 minutes,AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...,2/25/20
3,2/24/20 05:30,Charlestown,RI,Light,2-3 minutes,light moving at a high rate of speed,2/25/20
4,2/24/20 05:21,Edison,NJ,Light,25 seconds,DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...,2/25/20

In [40]:
#remove duplicates
df3 = df2.copy()

df3.drop_duplicates(subset=None, keep='first', inplace=True)
print(df3.count())
df3.head()

Date / Time    6557
City           6527
State          6337
Shape          5815
Duration       5784
Summary        6540
Posted         6557
dtype: int64

,Date / Time,City,State,Shape,Duration,Summary,Posted
0,2/24/20 12:45,Chester,NH,Disk,~1 minute,"12:45 PM-shiny, disk/saucer shape seen in dayl...",2/25/20
1,2/24/20 06:00,Medford,OR,Formation,5 minutes,"20 lights in formation across sky. ((""Starlink...",2/25/20
2,2/24/20 05:45,Medford,OR,Other,10 minutes,AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...,2/25/20
3,2/24/20 05:30,Charlestown,RI,Light,2-3 minutes,light moving at a high rate of speed,2/25/20
4,2/24/20 05:21,Edison,NJ,Light,25 seconds,DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...,2/25/20

In [41]:
#only US States
aliens_df = df3[\
(df3['State']=='AL')|(df3['State']=='AK')|(df3['State']=='AZ')\
|(df3['State']=='AR')|(df3['State']=='CA')|(df3['State']=='CO')\
|(df3['State']=='CT')|(df3['State']=='DE')|(df3['State']=='FL')\
|(df3['State']=='GA')|(df3['State']=='HI')|(df3['State']=='ID')\
|(df3['State']=='IL')|(df3['State']=='IN')|(df3['State']=='IA')\
|(df3['State']=='KS')|(df3['State']=='KY')|(df3['State']=='LA')\
|(df3['State']=='ME')|(df3['State']=='MD')|(df3['State']=='MA')\
|(df3['State']=='MI')|(df3['State']=='MN')|(df3['State']=='MS')\
|(df3['State']=='MO')|(df3['State']=='MT')|(df3['State']=='NE')\
|(df3['State']=='NV')|(df3['State']=='NH')|(df3['State']=='NJ')\
|(df3['State']=='NM')|(df3['State']=='NY')|(df3['State']=='NC')\
|(df3['State']=='ND')|(df3['State']=='OH')|(df3['State']=='OK')\
|(df3['State']=='OR')|(df3['State']=='PA')|(df3['State']=='RI')\
|(df3['State']=='SC')|(df3['State']=='SD')|(df3['State']=='TN')\
|(df3['State']=='TX')|(df3['State']=='UT')|(df3['State']=='VT')\
|(df3['State']=='VA')|(df3['State']=='WA')|(df3['State']=='WV')\
|(df3['State']=='WI')|(df3['State']=='WY')]
aliens_df

,Date / Time,City,State,Shape,Duration,Summary,Posted
0,2/24/20 12:45,Chester,NH,Disk,~1 minute,"12:45 PM-shiny, disk/saucer shape seen in dayl...",2/25/20
1,2/24/20 06:00,Medford,OR,Formation,5 minutes,"20 lights in formation across sky. ((""Starlink...",2/25/20
2,2/24/20 05:45,Medford,OR,Other,10 minutes,AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...,2/25/20
3,2/24/20 05:30,Charlestown,RI,Light,2-3 minutes,light moving at a high rate of speed,2/25/20
4,2/24/20 05:21,Edison,NJ,Light,25 seconds,DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...,2/25/20
...,...,...,...,...,...,...,...
6582,3/1/19 19:12,East Wenatchee,WA,Light,10 seconds,Orange pulsing light.,3/14/19
6583,3/1/19 18:07,Mebane,NC,Changing,Months (since December) l,Interdimensional Beings Caught using thermal v...,3/14/19
6584,3/1/19 13:28,Eagle River,AK,Cylinder,5,Driving down eagle river road looked into sky ...,3/14/19
6585,3/1/19 13:00,Greenville,SC,NaN,10 minutes,Reptilian or Grey alien contact.,8/23/19
6586,3/1/19 03:00,Red Wing,MN,Triangle,2 minutes,about 3 a.m. I observed a bright triangular-sh...,3/14/19

In [42]:
# add type column to df
aliens_df['Type']='Sighting'
aliens_df.head()

C:\Users\westl\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date / Time,City,State,Shape,Duration,Summary,Posted,Type
0,2/24/20 12:45,Chester,NH,Disk,~1 minute,"12:45 PM-shiny, disk/saucer shape seen in dayl...",2/25/20,Sighting
1,2/24/20 06:00,Medford,OR,Formation,5 minutes,"20 lights in formation across sky. ((""Starlink...",2/25/20,Sighting
2,2/24/20 05:45,Medford,OR,Other,10 minutes,AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...,2/25/20,Sighting
3,2/24/20 05:30,Charlestown,RI,Light,2-3 minutes,light moving at a high rate of speed,2/25/20,Sighting
4,2/24/20 05:21,Edison,NJ,Light,25 seconds,DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...,2/25/20,Sighting

In [43]:
aliens_df.to_csv("Resources/clean_aliens.csv", index = False)

## Retrieve Lat/Long

In [44]:
# Import aliens file as DataFrame
aliens_pd = pd.read_csv("Resources/clean_aliens.csv")
aliens_pd.head()

,Date / Time,City,State,Shape,Duration,Summary,Posted,Type
0,2/24/20 12:45,Chester,NH,Disk,~1 minute,"12:45 PM-shiny, disk/saucer shape seen in dayl...",2/25/20,Sighting
1,2/24/20 06:00,Medford,OR,Formation,5 minutes,"20 lights in formation across sky. ((""Starlink...",2/25/20,Sighting
2,2/24/20 05:45,Medford,OR,Other,10 minutes,AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...,2/25/20,Sighting
3,2/24/20 05:30,Charlestown,RI,Light,2-3 minutes,light moving at a high rate of speed,2/25/20,Sighting
4,2/24/20 05:21,Edison,NJ,Light,25 seconds,DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...,2/25/20,Sighting

In [25]:
# Add columns for lat, lng, airport name, airport address, airport rating
# Note that we used "" to specify initial entry.
aliens_pd["Lat"] = ""
aliens_pd["Lng"] = ""
aliens_pd.head()

,Date / Time,City,State,Shape,Duration,Summary,Posted,Lat,Lng
0,2/24/20 12:45,Chester,NH,Disk,~1 minute,"12:45 PM-shiny, disk/saucer shape seen in dayl...",2/25/20,,
1,2/24/20 06:00,Medford,OR,Formation,5 minutes,"20 lights in formation across sky. ((""Starlink...",2/25/20,,
2,2/24/20 05:45,Medford,OR,Other,10 minutes,AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...,2/25/20,,
3,2/24/20 05:30,Charlestown,RI,Light,2-3 minutes,light moving at a high rate of speed,2/25/20,,
4,2/24/20 05:21,Edison,NJ,Light,25 seconds,DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...,2/25/20,,

In [28]:
# Make a copy of alieins_pd
aliens_pd_mod = aliens_pd.copy()

# Loop through the cities_pd and run a lat/long search for each city
for index, row in aliens_pd_mod.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    city = row['City']
    state = row['State']

    # update address key value
    params['address'] = f"{city},{state}"

    # make request
    cities_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    print(cities_lat_lng.url)
    
    # convert to json
    cities_lat_lng = cities_lat_lng.json()

    aliens_pd_mod.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
    aliens_pd_mod.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
aliens_pd_mod.head()

https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Chester%2CNH
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Medford%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Medford%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Charlestown%2CRI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Edison%2CNJ
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=North+Pole%2CAK
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Stockton%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Honolulu%2CHI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Ambler%2CPA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Windsor%2CCT
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Greenville%2CIL
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Lake+Elmo%2CMN
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Lake+Worth+Beach%2CFL
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Upper+Makefield+%28Above+Delaware+River%29%2CPA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Girard%2CPA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Denver%2CCO
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Newport%2CVT
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Williston%2CVT
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=North+Kingstown%2CRI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Denver%2CCO
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Antelope%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Selma%2CIN
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Yankton%2CSD
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Screven%2CGA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=San+Angelo%2CTX
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Medford%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Oklahoma+City%2COK
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=La+Mesa%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Douglasville%2CGA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=St.+Petersburg%2CFL
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Upper+Chichester%2CPA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Rochester%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Shakopee%2CMN
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Chazy+Lake%2CNY
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Edgartown%2CMA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Twin+Falls%2CID
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Hixson%2CTN
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Snohomish%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=San+Diego+%28Palomar+Mountains%29%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=St.+Charles%2CMO
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Summerville%2CGA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=New+York%2CNY
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Portland%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Rochester%2CNY
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Tifton%2CGA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=South+Kingstown%2CRI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=La+Center%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Rothbury%2CMI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Jay%2CVT
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Maple+Valley%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=NYC%2CNY
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Seattle%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=North+Las+Vegas%2CNV
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Royse+City%2CTX
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Medford%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Hermon%2CME
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Lake+Orion%2CMI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Jefferson+Township%2CPA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Utica%2CNY
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Dexter%2CIA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Clear+Lake%2CIA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Temecula%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Wayne%2CMI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Amery%2CWI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Tacoma%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Hutchinson%2CKS
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=New+Truxton%2CMO
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Pt.+Townsend%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Brownville%2CME
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Monee%2CIL

https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Colchester%2CIL
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Middleburg+Heights%2COH
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Last+Chance%2CCO
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Bend%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Renton%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Boise%2CID
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Cleveland%2COH
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Jacksonville%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Hoover%2CAL
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Apple+Valley%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Santee%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Chehalis%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Everett%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Ritzville%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Gresham%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Woodinville%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Pasco%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Nashville%2CMI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Archie%2CMO
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Stockton%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Sutton%2CMA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Fredrickson%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Bellevue%2COH
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Battle+creek%2CMI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Kailua+Kona%2CHI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Denver%2CCO
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Plymouth+Township%2CMI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Limerick%2CPA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=New+York+City+%28Brooklyn%29%2CNY
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Eugene%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Wilderville%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Oak+bluffs%2CMA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Los+Angeles%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Medford%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Grants+Pass%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Everett%2CWA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Prescott+Valley%2CAZ
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Prescott+Valley%2CAZ
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Yonkers%2CNY
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=NORTON%2CMA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Barbourville%2CKY
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Oklahoma+City%2COK
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Roanoke%2CVA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Kailua-Kona%2CHI
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=High+Point%2CNC
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Bay+Shore%2CNY
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Port+Hueneme%2CCA
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=Forest+Grove%2COR
https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyATfHYvpoeJbnbT8R-wzSdPLxQpii4gNpY&address=portland%2COR

KeyboardInterrupt:

## Scrape Nuclear Sites

In [2]:
# URL for the source of the data on Wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_nuclear_power_stations'

In [3]:
# Use pandas to get the tables from the Wikipedia page and create a list
# of dictionaries
tables = pd.read_html(url,encoding='utf-8')
tables

[                                          0
 0  Map all coordinates using: OpenStreetMap
 1        Download coordinates as: KMLÂ Â·Â GPX,
     Power station # units[note 1] Net capacity[note 2](MWe)        Country  \
 0         Almaraz               2                      2017          Spain
 1           Angra               2             1,884[note 3]         Brazil
 2             ANO               2                      1839  United States
 3            AscÃ³               2                      1992          Spain
 4          Atucha               2                      1027      Argentina
 ..            ...             ...                       ...            ...
 146     Watts Bar               2                      2288  United States
 147    Wolf Creek               1                      1160  United States
 148      Wolseong      5[note 45]                      3835    South Korea
 149     Yangjiang               6                      6000          China
 150  Zaporizhzhia               6                      5700        Ukraine

                                               Location Refs
 0       39Â°48â€²29â€³N 05Â°41â€²49â€³Wï»¿ / ï»¿39.80806Â°N 5.69694Â°W  NaN
 1      23Â°00â€²30â€³S 44Â°28â€²26â€³Wï»¿ / ï»¿23.00833Â°S 44.47389Â°W  NaN
 2      35Â°18â€²37â€³N 93Â°13â€²53â€³Wï»¿ / ï»¿35.31028Â°N 93.23139Â°W  NaN
 3       41Â°12â€²00â€³N 00Â°34â€²10â€³Eï»¿ / ï»¿41.20000Â°N 0.56944Â°E  NaN
 4       33Â°58â€²3â€³S 59Â°12â€²18â€³Wï»¿ / ï»¿33.96750Â°S 59.20500Â°W  NaN
 ..                                                 ...  ...
 146    35Â°36â€²10â€³N 84Â°47â€²22â€³Wï»¿ / ï»¿35.60278Â°N 84.78944Â°W  NaN
 147    38Â°14â€²20â€³N 95Â°41â€²20â€³Wï»¿ / ï»¿38.23889Â°N 95.68889Â°W  NaN
 148  35Â°42â€²40â€³N 129Â°28â€²30â€³Eï»¿ / ï»¿35.71111Â°N 129.47500Â°E  NaN
 149  21Â°42â€²35â€³N 112Â°15â€²38â€³Eï»¿ / ï»¿21.70972Â°N 112.26056Â°E  [4]
 150    47Â°30â€²44â€³N 34Â°35â€²09â€³Eï»¿ / ï»¿47.51222Â°N 34.58583Â°E  NaN

 [151 rows x 6 columns],
       Power station  No. ofunits Net capacityunder construction(MW)  \
 0            Akkuyu            1                               1014
 1           Barakah            4                               5380
 2        Belarusian            2                               2218
 3           Bushehr            2                     1,830[note 46]
 4   Hinkley Point C            2                               3300
 5          Kakrapar            4                     1,664[note 47]
 6           Karachi            3                     2,118[note 48]
 7          Mochovce            4                     1,752[note 49]
 8               ÅŒma            1                               1325
 9           Rooppur            2                               2160
 10       Shimane[6]            1                     1,373[note 50]
 11           Vogtle            2                               2234
 12        Zhangzhou            1                               1126

     Constructionstart Plannedconnection         Country  \
 0                2015              2023          Turkey
 1                2012              2020             UAE
 2                2012              2020         Belarus
 3                2019              2024            Iran
 4                2018              2026  United Kingdom
 5                2010              2022           India
 6                2013              2021        Pakistan
 7                1987              2020        Slovakia
 8                2010              2025           Japan
 9                2017              2023      Bangladesh
 10               2007                 ?           Japan
 11               2013              2021             USA
 12               2019              2024           China

                                              Location
 0     36Â°08â€²40â€³N 33Â°32â€²28â€³Eï»¿ / ï»¿36.14444Â°N 33.54111Â°E
 1       23Â°59â€²6â€³N 52Â°17â€²1â€³Eï»¿ / ï»¿23.98500Â°N 52.28361Â°E
 2      54Â°45â€²43â€³N 26Â°7â€²12â€³Eï»¿ / ï»¿54.76194Â°N 26.12000Â°E
 3     28Â°49â€²47â€³N 50Â°53â€²10â€³Eï»¿ / ï»¿28.82972Â°N 50.88611Â°E
 4        51Â°12â€²22â€³N 3Â°8â€²38â€³Wï»¿ / ï»¿51.20611Â°N 3.14389Â°W
 5     21Â°14â€²19â€³N 73Â°21â€²00â€³Eï»¿ / ï»¿21.23861Â°N 73.35000Â°E
 6   24Â°50â€²49.8â€³N 66Â°47â€²17.7â€³Eï»¿ / ï»¿24.847167Â°N 66.7...
 7     48Â°15â€²50â€³N 18Â°27â€²25â€³Eï»¿ / ï»¿48.26389Â°N 18.45694Â°E
 8   41Â°30â€²35â€³N 140Â°54â€²37â€³Eï»¿ / ï»¿41.50972Â°N 140.91028Â°E
 9        24Â°4â€²0â€³N 89Â°2â€²50â€³Eï»¿ / ï»¿24.06667Â°N 89.04722Â°E
 10  35Â°32â€²18â€³N 132Â°59â€²57â€³Eï»¿ / ï»¿35.53833Â°N 132.99917Â°E
 11                               Georgia (U.S. state)
 12  23Â°49â€²45â€³N 117Â°29â€²30â€³Eï»¿ / ï»¿23.82917Â°N 117.49167Â°E  ,
         Power station Past capacity (MW)        Country  \
 0           BarsebÃ¤ck               1200         Sweden
 1              Biblis               2407        Germany
 2            Bohunice     1,760[note 51]       Slovakia
 3       Chin Shan[10]               1208         Taiwan
 4           Chernobyl               3515        Ukraine
 5   Fukushima Daiichi               4546          Japan
 6     Fukushima Daini               4400          Japan
 7     Grafenrheinfeld               1275        Germany
 8          Greifswald               2040        Germany
 9            Ignalina               2370      Lithuania
 10            KrÃ¼mmel               1346        Germany
 11          Mihama[6]     1,570[note 52]          Japan
 12    MÃ¼lheim-KÃ¤rlich               1219        Germany
 13       Philippsburg               2292        Germany
 14  Three Mile Island               1685  United States
 15         San Onofre               2586  United States
 16        SuperphÃ©nix               1200         France
 17             Trojan               1095  United States
 18         Unterweser               1345        Germany
 19               Zion               2080  United States

                                              Location
 0     55Â°44â€²40â€³N 12Â°55â€²15â€³Eï»¿ / ï»¿55.74444Â°N 12.92083Â°E
 1      49Â°42â€²36â€³N 08Â°24â€²55â€³Eï»¿ / ï»¿49.71000Â°N 8.41528Â°E
 2     48Â°29â€²40â€³N 17Â°40â€²55â€³Eï»¿ / ï»¿48.49444Â°N 17.68194Â°E
 3   25Â°17â€²10â€³N 121Â°35â€²15â€³Eï»¿ / ï»¿25.28611Â°N 121.58750Â°E
 4     51Â°23â€²22â€³N 30Â°05â€²57â€³Eï»¿ / ï»¿51.38944Â°N 30.09917Â°E
 5   37Â°25â€²17â€³N 141Â°01â€²57â€³Eï»¿ / ï»¿37.42139Â°N 141.03250Â°E
 6   37Â°19â€²10â€³N 141Â°01â€²16â€³Eï»¿ / ï»¿37.31944Â°N 141.02111Â°E
 7     49Â°59â€²02â€³N 10Â°11â€²05â€³Eï»¿ / ï»¿49.98389Â°N 10.18472Â°E
 8     54Â°08â€²26â€³N 13Â°39â€²52â€³Eï»¿ / ï»¿54.14056Â°N 13.66444Â°E
 9     55Â°36â€²16â€³N 26Â°33â€²36â€³Eï»¿ / ï»¿55.60444Â°N 26.56000Â°E
 10    53Â°24â€²36â€³N 10Â°24â€²32â€³Eï»¿ / ï»¿53.41000Â°N 10.40889Â°E
 11  35Â°42â€²09â€³N 135Â°57â€²48â€³Eï»¿ / ï»¿35.70250Â°N 135.96333Â°E
 12     50Â°24â€²29â€³N 07Â°29â€²24â€³Eï»¿ / ï»¿50.40806Â°N 7.49000Â°E
 13     49Â°15â€²09â€³N 08Â°26â€²11â€³Eï»¿ / ï»¿49.25250Â°N 8.43639Â°E
 14    40Â°09â€²14â€³N 76Â°43â€²29â€³Wï»¿ / ï»¿40.15389Â°N 76.72472Â°W
 15  33Â°22â€²08â€³N 117Â°33â€²18â€³Wï»¿ / ï»¿33.36889Â°N 117.55500Â°W
 16     45Â°45â€²30â€³N 05Â°28â€²20â€³Eï»¿ / ï»¿45.75833Â°N 5.47222Â°E
 17  46Â°02â€²18â€³N 122Â°53â€²06â€³Wï»¿ / ï»¿46.03833Â°N 122.88500Â°W
 18     53Â°25â€²40â€³N 08Â°28â€²49â€³Eï»¿ / ï»¿53.42778Â°N 8.48028Â°E
 19    42Â°26â€²47â€³N 87Â°48â€²11â€³Wï»¿ / ï»¿42.44639Â°N 87.80306Â°W  ,
                   vteLists of nuclear power stations  \
 0  BelgiumBulgariaChinaFranceGermanyJapanPakistan...

                 vteLists of nuclear power stations.1
 0  BelgiumBulgariaChinaFranceGermanyJapanPakistan...  ,
                            vteLists of power stations  \
 0                                           By region
 1                                              Africa
 2                                                Asia
 3                                              Europe
 4                                       North America
 5                                             Oceania
 6                                       South America
 7                                             By type
 8                                       Non-renewable
 9                                           Renewable
 10  Largest power stations Largest hydroelectric s...

                          vteLists of power stations.1
 0   Africa Algeria Angola Benin Botswana Burkina F...
 1   Algeria Angola Benin Botswana Burkina Faso Bur...
 2   Afghanistan Armenia Azerbaijan Bahrain Banglad...
 3   Albania Andorra Austria Belarus Belgium Bosnia...
 4   Antigua and Barbuda Bahamas Barbados Belize Ca...
 5   Australia Micronesia Fiji Kiribati Marshall Is...
 6   Argentina Bolivia Brazil Chile Colombia Ecuado...
 7   Non-renewable Coal Fuel oil Natural gas Nuclea...
 8         Coal Fuel oil Natural gas Nuclear Oil shale
 9   Biomass Geothermal Hydroelectric conventional ...
 10  Largest power stations Largest hydroelectric s...  ,
                0                                                  1
 0         Africa  Algeria Angola Benin Botswana Burkina Faso Bur...
 1           Asia  Afghanistan Armenia Azerbaijan Bahrain Banglad...
 2         Europe  Albania Andorra Austria Belarus Belgium Bosnia...
 3  North America  Antigua and Barbuda Bahamas Barbados Belize Ca...
 4        Oceania  Australia Micronesia Fiji Kiribati Marshall Is...
 5  South America  Argentina Bolivia Brazil Chile Colombia Ecuado...,
                0                                                  1
 0  Non-renewable        Coal Fuel oil Natural gas Nuclear Oil shale
 1      Renewable  Biomass Geothermal Hydroelectric conventional ...]

In [4]:
# Isolate the second table from the list of dictionaries and make that dict a dataframe
df = tables[1]

In [5]:
# View the column names
df.columns

Index(['Power station', '# units[note 1]', 'Net capacity[note 2](MWe)',
       'Country', 'Location', 'Refs'],
      dtype='object')

In [6]:
# Change the column names
df.columns = ['Station', 'Units', 'Capacity_MWe', 'Country', 
              'Location', 'Refs']

In [7]:
# Both DMS and Geopoint Lat and Long data is in one column 
# we are only interested in the Geopoint Lat/Long 
coordinates = df["Location"].str.split(" / ", n = 1, expand = True)

In [8]:
# Create a new column in the dataframe
df["GP_Lat_Long"]= coordinates[1]

In [9]:
# Dropping old Location and Refs columns 
df.drop(columns =["Location","Refs"], inplace = True)

In [10]:
# Split the column of data GP_Lat_long that contains two coordinates into 
# two separate columns
DMS_coordinates = df["GP_Lat_Long"].str.split(" ", n = 1, expand = True)
df["GP_Lat"]= DMS_coordinates[0] 
df["GP_Long"]= DMS_coordinates[1]

In [11]:
# Create a function to transform the Latitude and Longitude points from the format
# 41.2000Â°S to -41.2000 for example 
def dms2dd(s):
    # example: s = """0Â°51'56.29"S"""
    coord, direction = re.split('Â°', s)
    coord = coord.replace(u'\ufeff','')
    coord = float(coord)
    if direction in ('S','W'):
        coord*= -1
    return coord

In [12]:
# Transform the Latitude and Longitude values to be either negative or positive
# Values for South and West are negative and North and East are positive
df['Latitude'] = df['GP_Lat'].apply(dms2dd)
df['Longitude'] = df['GP_Long'].apply(dms2dd)

In [13]:
# Remove the columns that are no longer necessary
df.drop(columns =["GP_Lat_Long","GP_Lat","GP_Long"], inplace = True)

In [14]:
# Create a United States only slice of the dataframe
us = df[df["Country"] == "United States"]

In [15]:
us.head()

          Station Units Capacity_MWe        Country  Latitude  Longitude
2             ANO     2         1839  United States  35.31028  -93.23139
6   Beaver Valley     2         1738  United States  40.62333  -80.43056
10      Braidwood     2         2330  United States  41.24361  -88.22917
12   Browns Ferry     3         3300  United States  34.70389  -87.11861
14      Brunswick     2         1858  United States  33.95833  -78.01028

### Military Bases

In [22]:
# import excel file for military bases
military_base_df = pd.read_excel (r'Resources/military-bases.xlsx')
military_base_df = military_base_df.dropna()

military_base_df.head()

,Geo Point,OBJECTID,COMPONENT,Site Name,Joint Base,State Terr,COUNTRY,Oper Stat,Shape St Are,Shape St Len
13,"38.805160992, -76.8744374247",144,AF Active,Andrews AFB,Joint Base Andrews - Naval Air Facility Washin...,Maryland,United States,Active,2.938397e+07,22642.684174
15,"32.9631678645, -79.9639295206",113,AF Active,NWS Charleston,Joint Base Charleston,South Carolina,United States,Active,9.684911e+07,160700.657287
28,"13.5179166878, 144.811096965",239,Navy Active,Tumon Tank Farm,Joint Region Marianas,Guam,Guam,Active,1.023036e+05,1749.477641
30,"13.5867134229, 144.862326053",240,Navy Active,Potts Tank Farm,Joint Region Marianas,Guam,Guam,Active,8.480141e+04,1181.131174
32,"38.8786170847, -77.075713083",718,Army Active,Fort Myer,Joint Base Myer - Henderson Hall,Virginia,United States,Active,2.065523e+06,12833.022256

In [23]:
# drop unnecessary columns
military_base_df.drop(columns= ['Shape St Are','Shape St Len'], inplace=True)

In [24]:
# reset index
military_base_df.set_index('Site Name')
military_base_df.head()

,Geo Point,OBJECTID,COMPONENT,Site Name,Joint Base,State Terr,COUNTRY,Oper Stat
13,"38.805160992, -76.8744374247",144,AF Active,Andrews AFB,Joint Base Andrews - Naval Air Facility Washin...,Maryland,United States,Active
15,"32.9631678645, -79.9639295206",113,AF Active,NWS Charleston,Joint Base Charleston,South Carolina,United States,Active
28,"13.5179166878, 144.811096965",239,Navy Active,Tumon Tank Farm,Joint Region Marianas,Guam,Guam,Active
30,"13.5867134229, 144.862326053",240,Navy Active,Potts Tank Farm,Joint Region Marianas,Guam,Guam,Active
32,"38.8786170847, -77.075713083",718,Army Active,Fort Myer,Joint Base Myer - Henderson Hall,Virginia,United States,Active

In [25]:
# format the lat and long to two columns
split_data = military_base_df["Geo Point"].str.split(",", n=1, expand=True)

military_base_df['Lat'] = split_data[0]
military_base_df['Long'] = split_data[1]

military_base_df.head()

,Geo Point,OBJECTID,COMPONENT,Site Name,Joint Base,State Terr,COUNTRY,Oper Stat,Lat,Long
13,"38.805160992, -76.8744374247",144,AF Active,Andrews AFB,Joint Base Andrews - Naval Air Facility Washin...,Maryland,United States,Active,38.805160992,-76.8744374247
15,"32.9631678645, -79.9639295206",113,AF Active,NWS Charleston,Joint Base Charleston,South Carolina,United States,Active,32.9631678645,-79.9639295206
28,"13.5179166878, 144.811096965",239,Navy Active,Tumon Tank Farm,Joint Region Marianas,Guam,Guam,Active,13.5179166878,144.811096965
30,"13.5867134229, 144.862326053",240,Navy Active,Potts Tank Farm,Joint Region Marianas,Guam,Guam,Active,13.5867134229,144.862326053
32,"38.8786170847, -77.075713083",718,Army Active,Fort Myer,Joint Base Myer - Henderson Hall,Virginia,United States,Active,38.8786170847,-77.075713083

In [28]:
# add type column to df
military_base_df['Type']='Military Base'
military_base_df.head()

,Geo Point,OBJECTID,COMPONENT,Site Name,Joint Base,State Terr,COUNTRY,Oper Stat,Lat,Long,Type
13,"38.805160992, -76.8744374247",144,AF Active,Andrews AFB,Joint Base Andrews - Naval Air Facility Washin...,Maryland,United States,Active,38.805160992,-76.8744374247,Military Base
15,"32.9631678645, -79.9639295206",113,AF Active,NWS Charleston,Joint Base Charleston,South Carolina,United States,Active,32.9631678645,-79.9639295206,Military Base
28,"13.5179166878, 144.811096965",239,Navy Active,Tumon Tank Farm,Joint Region Marianas,Guam,Guam,Active,13.5179166878,144.811096965,Military Base
30,"13.5867134229, 144.862326053",240,Navy Active,Potts Tank Farm,Joint Region Marianas,Guam,Guam,Active,13.5867134229,144.862326053,Military Base
32,"38.8786170847, -77.075713083",718,Army Active,Fort Myer,Joint Base Myer - Henderson Hall,Virginia,United States,Active,38.8786170847,-77.075713083,Military Base

### Map of Military bases and Nuclear sites

In [26]:
import plotly.graph_objects as go

import pandas as pd

# df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_us_airport_traffic.csv')
# df['text'] = df['airport'] + '' + df['city'] + ', ' + df['state'] + '' + 'Arrivals: ' + df['cnt'].astype(str)

fig = go.Figure(data=go.Scattergeo(
        lon = us['Longitude'],
        lat = us['Latitude'],
        text = us['Station'],
        mode = 'markers',
        #marker_color = us['Capacity_MWe'],
        #size = us['Capacity_MWe']
        ))

fig.update_layout(
        title = 'Nuclear Facilities<br>(Hover for facility names)',
        geo_scope='usa',
    )
fig.show()

NameError: name 'us' is not defined

## Nyarai

In [29]:
#connect to a local db
rds_connection_string = "postgres:postgres@localhost:5432/aliens"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [30]:
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  database "aliens" does not exist

(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
aliens_pd.to_sql(name='aliens_sighting', con=engine, if_exists='append', index=False)

In [ ]:
us.info()

In [ ]:
us.to_sql(name='us_nuclear_sites', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from aliens_sighting', con=engine).head()