In [3]:
import os
import pandas as pd
import numpy as np
import requests
import json
import time
import pandas as pd
import geopandas as gpd
import re
import matplotlib.pyplot as plt

from bs4 import BeautifulSoup as bs
from splinter import Browser
from sqlalchemy import create_engine
from shapely.geometry import Point, Polygon
from citipy import citipy
from matplotlib import pyplot
from shapely.geometry import LineString
from descartes import PolygonPatch

In [11]:
csv_file = "clean_aliens_lat_long.csv"
df = pd.read_csv(csv_file)
df.count()

Date / Time    6101
City           6101
State          6101
Shape          5388
Duration       5347
Summary        6087
Posted         6101
Lat            6096
Lng            6096
dtype: int64

In [12]:
df2 = df.copy()

data = df2.dropna(subset=['Lat', 'Lng'])

data.count()

Date / Time    6096
City           6096
State          6096
Shape          5383
Duration       5343
Summary        6082
Posted         6096
Lat            6096
Lng            6096
dtype: int64

In [13]:
data.head()

,Date / Time,City,State,Shape,Duration,Summary,Posted,Lat,Lng
0,2/24/20 12:45,Chester,NH,Disk,~1 minute,"12:45 PM-shiny, disk/saucer shape seen in dayl...",2/25/20,42.956753,-71.257285
1,2/24/20 06:00,Medford,OR,Formation,5 minutes,"20 lights in formation across sky. ((""Starlink...",2/25/20,42.326515,-122.875595
2,2/24/20 05:45,Medford,OR,Other,10 minutes,AT 545 AM I LOOKED UP AND SAID WHAT THE HELL I...,2/25/20,42.326515,-122.875595
3,2/24/20 05:30,Charlestown,RI,Light,2-3 minutes,light moving at a high rate of speed,2/25/20,41.383216,-71.641874
4,2/24/20 05:21,Edison,NJ,Light,25 seconds,DURING ISS PASS VIEWING SMALL OBJECT APPEARS T...,2/25/20,40.518715,-74.412095